
.uk-flex{ 
  margin-left: 18px;
}
.uk-flex button{
  width: 88px;
  height: 32px;
  font-style: Medium;
  font-size: 13px;
  line-height: 20px;
  line-height: 131%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #FFFFFF;
  background: linear-gradient(#FF6968 0%,#FFA3A3 100%);
  border-radius: 10px;
  border-style: hidden;
  padding: 6px, 14px, 6px, 14px;
}
.uk-flex span{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  line-height: 100%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #0F123F;
}
.my-card4{
  margin-top: 20px;
  margin-left: 28px;
  width: 158px;
  height: 160px;
  padding: 0px;
}
.my-card4 .news-logo1{
  padding-top: 17px;
  padding-left: 18px;
  position: absolute;
}
.news-logo1 img{
  width: 121px;
  height: 64px;
}
.my-card4 .news-title{
  margin-top: 85px;
  margin-left: 34.5px;
}
.news-title h3{
  width: 90px;
  height: 15px;
  font-style: Regular;
  font-size: 13px;
  line-height: 15px;
  line-height: 100%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #778192;
  font-weight: 400;
}
.my-card4 .news-title2{
  margin-top: 85px;
  margin-left: 50px;
}
.news-title2 h3{
  width: 90px;
  height: 15px;
  font-style: Regular;
  font-size: 13px;
  line-height: 15px;
  line-height: 100%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #778192;
  font-weight: 400;
}
.my-card4 .news-title3{
  margin-top: 85px;
  margin-left: 60px;
}
.news-title3 h3{
  width: 90px;
  height: 15px;
  font-style: Regular;
  font-size: 13px;
  line-height: 15px;
  line-height: 100%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #778192;
  font-weight: 400;
}
.my-card4 .news-title4{
  margin-top: 85px;
  margin-left: 60px;
}
.news-title4 h3{
  width: 90px;
  height: 15px;
  font-style: Regular;
  font-size: 13px;
  line-height: 15px;
  line-height: 100%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #778192;
  font-weight: 400;
}
.my-card4 .news-title5{
  margin-top: 85px;
  margin-left: 60px;
}
.news-title5 h3{
  width: 90px;
  height: 15px;
  font-style: Regular;
  font-size: 13px;
  line-height: 15px;
  line-height: 100%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #778192;
  font-weight: 400;
}
.my-card4 .news-number{
  margin-top: 12px;
  // padding-top: 12px;
  margin-left: 60px;
}
.news-number h3{
  width: 46px;
  height: 19px;
  font-weight: 500;
  font-family: Roboto;
  font-style: Medium;
  font-size: 16px;
  line-height: 19px;
  line-height: 100%;
  align: Left;
  vertical-align: Top;
  fill: Solid;
  color: #0F123F;
}
.my-card4 .news-logo2{
  padding-top: 17px;
  padding-left: 17.5px;
  position: absolute;
}
.news-logo2 img{
  width: 121.9px;
  height: 64px;
}
.my-card4 .news-logo3{
  padding-top: 25px;
  padding-left: 27px;
  position: absolute;
}
.news-logo3 img{
  width: 104px;
  height: 64px;
}
.my-card4 .news-logo4{
  padding-top: 42px;
  padding-left: 34px;
  position: absolute;
}
.news-logo4 img{
  width: 91px;
  height: 37px;
}
.my-card4 .news-logo5{
  padding-top: 49px;
  padding-left: 41px;
  position: absolute;
}
.news-logo5 img{
  width: 75px;
  height: 20px;
}
.my-card4 .news-logo6{
  padding-top: 44px;
  padding-left: 48px;
  position: absolute;
}
.news-logo6 img{
  width: 62px;
  height: 30px;
}
.mat-z4{
  margin-left: 30px;
  margin-top: 20px;
  max-width: 346px;
  height: 170px;
}
.image{
 top: 12px;
 width: 70px;
 height: 70px;
 display: inline-block;
}
.image img{
  width: 70px;
 height: 70px;
}
.title{
  font-size: x-small;
  display: inline-block;
  width: 225px;
  margin-left: 10px;
  position: absolute;
}
.title h1{
  display: inline-block;
  line-height: 20px;
  font-style: Normal;
  font-size : 13px;
  line-height : 20px;
  fill: Solid;
  color: #0F123F;
  font-weight: 500;
  margin-bottom: 0px;
}
.title p{
  display: inline-block;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 14px;
  color: #0F123F;
  margin-top: 3px;
  margin-bottom: 10px;
}
mat-card-content{
  margin-top: 12px;
}
.media{
  margin-top: 0px;
  max-width: 130px;
  height: 20px;
  background:linear-gradient(#0F123F  0%, #3A408F  100%);
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 0px;
  // position: absolute;
}

.media h2{
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: white;
  max-width: 100px;
  margin: 5px;
  text-align:center;
  
}
.category{
  margin-left: 10px;
  max-width: 130px;
  height: 20px;
  background: linear-gradient(#FF6968 0%, #FFA3A3 100%);
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 0px;
  // position: absolute;

}
.category h2{
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: white;
  max-width: 120px;
  margin: 5px;
  text-align:center;
}

.date{
  font-style: normal;
  font-weight: normal;
  color: #778192;
  max-width: 130px;
  height: 20px;
  display: inline-block;
  margin-left: 90px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
 
}
.date h2{
  font-size: 11px;
  line-height: 14px;
  font-weight: 400px;
}
.action-btn{
  margin-top: 0px;
  margin-left: 190px;
  padding-top: 10px;
  padding-left: 0px;
}
.action-btn .update-btn{
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 0px;
  display: inline-block;
  position: absolute;
  // background-color: #778192;
}
.update-btn button{
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  max-width: 120px;
  margin: 5px;
  text-align:center;
  height: 20px;
  color: white;
  background: orange;
  display: inline-block;
  border-radius: 4px;
}
.action-btn .delete-btn{
  margin-top: 0px;
  margin-left: 55px;
  padding-top: 0px;
  padding-left: 0px;
  display: inline-block;
  // background-color: #778192;
}
.delete-btn button{
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: white;
  max-width: 120px;
  margin: 5px;
  text-align:center;
  height: 20px;
  background: red;
  display: inline-block;
  border-radius: 4px;
}
