<h3 mat-dialog-title>
    Detail news
</h3>
<div mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Title News</mat-label>
        <input matInput [(ngModel)]="data.title_news">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Media Name</mat-label>
        <input matInput [(ngModel)]="data.media_name">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="data.category">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="data.date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 
         
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Content Text</mat-label>
        <input matInput [(ngModel)]="data.content_text">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Link Image</mat-label>
        <input matInput [(ngModel)]="data.link_image">
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Batal</button>
    <button mat-flat-button (click) = "saveData()">Simpan</button>
</div>