<script>
    fetch('http://localhost:8080/news').then(res => res.json()).then(res => console.log(res));
</script>
<div class="wrap">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">
                            <li ><a routerLink="/home/dashboard">Home</a></li>
  
                            <li><a routerLink="/list-news">News</a></li>
  
                            <li><a routerLink="/charts/bar-chart">Chart</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>
  </div>
<router-outlet></router-outlet>