<div class="container">
    <div class="inner-bg">
        <div class="uk-flex">
            <span class="uk-flex"></span>
            <button mat-flat-button color="primary" (click)="addNews({},-1)">Add news</button>
        </div>
    </div>
    <br>
    <br>
    <table class="uk-table uk-table-middle uk-table-divider" border="1" width="90%">
        <thead>
            <th>ID</th>
            <th>TITLE NEWS</th>
            <th>MEDIA NAME</th>
            <th>DATE</th>
            <th>CONTENT TEXT</th>
            <th>LINK IMAGE</th>
            <th align="right">AKSI</th>
        </thead>
        <tbody>
            <tr *ngFor= "let news of newss; let idx = index">
                <td>{{idx+1}}</td>
                <td>{{news.title_news}}</td>
                <td>{{news.media_name}}</td>
                <td>{{news.date}}</td>
                <td>{{news.content_text}}</td>
                <td>{{news.link_image}}</td>

                <td align="right">
                    <button mat-button color = "primary" (click)="addNews(news,idx)">Edit</button>
                    <button mat-button color ="warn" (click)="deleteNews(news.id,idx)">Delete</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>